<%- include('partials/head') %>
</head>

<body>
    <%- include('partials/nav') %>
    <h1>Some Error Occured!</h1>
    <p>We are working on fixing it, sorry for the inconvienence</p>

<%- include('partials/footer') %>